@model IEnumerable<BlogProjMeitarBorisOrel.Models.Blog.D3>
@{
    ViewData["Title"] = "Graph";
    Graph(); 
    List<D3> mylist = new List<D3>();
    foreach(string a in ViewData["1"].ToString())
}

<h2>Graph</h2>

