@model BlogProjMeitarBorisOrel.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit post</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ApplicationUserID" class="control-label"></label>
                <input asp-for="ApplicationUserID" class="form-control" />
                <span asp-validation-for="ApplicationUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryID" class="control-label">Category Name</label>
                <select asp-for="categoryID" class="form-control" asp-items="ViewBag.categoryID"></select>
                <span asp-validation-for="categoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author_Name" class="control-label"></label>
                <input asp-for="Author_Name" class="form-control" />
                <span asp-validation-for="Author_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlImage" class="control-label"></label>
                <input asp-for="UrlImage" class="form-control" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input asp-for="Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lng" class="control-label"></label>
                <input asp-for="Lng" class="form-control" />
                <span asp-validation-for="Lng" class="text-danger"></span>
            </div>

            <div id="map" style="width:100%;height:500px"></div>
            <script>
    function myMap() {
        var myCenter = new google.maps.LatLng(@Model.Lat,@Model.Lng);

        var mapCanvas = document.getElementById("map");
        var mapOptions = { center: myCenter, zoom: 8 };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker({ position: myCenter });

        google.maps.event.addListener(map, 'click', function (event) {

            //alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
            var mylat =event.latLng.lat();
            var mylng = event.latLng.lng();
            document.getElementById("Lat").value = mylat;

            document.getElementById("Lng").value = mylng;
        });
        marker.setMap(map);

    }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUm-xJ8zxKG2tILVdLTFDKADf0dmqJ7wo&callback=myMap"></script>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
