
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<script type="text/javascript">
        $(document).ready(function () {
            $("#hide").click(function () {
                $("p").hide()
            })
            $("#show").click(function () {
                $("p").show()
            })
        })
</script>
<script type="text/javascript">
        $(document).ready(function () {
            $("#h3").click(function () {
                $("#h3").hide()
            })
        })
</script>

<h3 id="h3">click me to make me disappear</h3>


<p id="p1">If you click on the "Hide" button, I will disappear.</p>
<button id="hide" type="button">Hide</button>
<button id="show" type="button">Show</button>